<div style="background-color: floralwhite; margin-bottom: 1rem;">
    <div class="text-center row" *ngIf="!editable">
        <div class="col-11">
            <div>
                <h3>{{article.title}}</h3>
                <h5>{{article.categoryName}}</h5>
                <p>{{article.description}}</p>
                
            </div>
        </div>
        <div class="col-1" >
            <!-- <div> -->
                <a class="btn btn-link" (click)="ShowEditable()" ><i class="bi bi-pencil"></i></a>
                <a class="btn btn-link" (click)="Delete()"><i class="bi bi-trash3"></i></a>
            <!-- </div> -->
        </div>
      </div>
      <div *ngIf="editable">
        <form [formGroup]="articleForm">
          <div *ngIf="showError" class="form-group" >
            <label for="error">{{error}}</label>
          </div>
            <div class="form-group" >
              <label for="updatedTitle">Title</label>
              <input type="text" name="updatedTitle" formControlName="updatedTitle" class="form-control" id="updatedTitle">
            </div>
            <div class="form-group" >
              <label for="updatedCategory">Category</label>
              <select formControlName="updatedCategory" class="form-control">  
                <option disabled>Select Category</option>  
                <option>Choose Category</option>  
                <option *ngFor="let cate of categoryList" >{{cate}}</option>                                
            </select> 
            </div>
            <div class="form-group">
              <label for="updatedTitle">Description</label>
              <textarea class="form-control" formControlName="updatedDescription" name="updatedDescription" id="updatedDescription" rows="3" ></textarea>
            </div>
            <button type="button" class="btn btn-primary btn-sm" (click)="Update()">Update</button>
            <button type="button" class="btn btn-primary btn-danger btn-sm" (click)="Cancel()">Cancel</button>
          </form>
    
    </div>
</div>