<div>
    <div *ngFor="let article of articles">
        <app-card [article]="article"></app-card>
    </div>
    <div class="text-center row">
        <div class="col" >
            <button style="float: right;" type="button" class="btn btn-primary btn-sm" (click)="GetPrevNewsFeeds()" [disabled]="prevDisabled">Prev</button>
        </div>
        <div class="col" >
            <button style="float: left;" type="button" class="btn btn-secondary btn-sm" (click)="GetNextNewsFeeds()" [disabled]="nextDisabled">Next</button>    
        </div>
    </div>
</div>
