<div style="background-color: darkslategrey; margin-bottom: 1rem; margin-top: 1rem;">
    <div class="row">
        <div class="col text-center">
            <h3 style="color: aquamarine;">Walkerscott News</h3>
        </div>
        <div class="col text-center">
            <a class="btn btn-link" style="color: aquamarine;" href="create"><i class="bi bi-plus-square" style="font-size: 2rem;"></i></a>
        </div>                                    
        <div class="col text-center" >
            <div >
                <label style="color: aquamarine;"><b>Search :  </b></label>
                <input type="text">
            </div>
        </div>
    </div>
</div>